In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = (200)
sns.set_style('darkgrid')
import scipy.stats as st
from scipy import stats

In [2]:
df = pd.read_csv(r'Cars.csv')
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [3]:
##   P(MPG>38)
##   P(MPG<40)
##   P(20<MPG<50)

In [4]:
pd.DataFrame(df['MPG']).mean()

MPG    34.422076
dtype: float64

In [5]:
pd.DataFrame(df['MPG']).std()

MPG    9.131445
dtype: float64

In [6]:
1-stats.norm.cdf(38,34.42,9.13)

0.34748702501304063

In [7]:
stats.norm.cdf(40,34.42,9.13)

0.7294571279557076

In [8]:
stats.norm.cdf(50,34.42,9.13)

0.9560389719783978

In [9]:
stats.norm.cdf(20,34.42,9.13)

0.05712118952347562

In [10]:
0.9560389719783978 - 0.05712118952347562

0.8989177824549222