In [1]:
import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
df  = pd.read_csv('https://raw.githubusercontent.com/yashvardhanpatil/Assignment-Dataset/main/Hypothesis%20Testing/Costomer%2BOrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [4]:
df.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [5]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [6]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
x = np.array([[271,267,269,280],[29,33,31,20]])
x

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [10]:
chi2_contingency(x)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

## Here pvalue < alpha value  (0.277 < 0.5)